body {
    
    background-color: rgb(17, 19, 24)
    
}
img {
    height: 150px;
    width: 150px;
    margin: 80px 250px 0px 250px;
    border-radius: 50%;
    padding: 0;
    border: 0;
}

div {
    margin: 0px 250px 50px 250px;   
}

.IT {
    color: rgb(122, 136, 157);
}
p, li {
    color: rgb(122, 136, 157);
    font-size: 20px;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    margin: 0px 250px 0px 250px;
    color: rgb(255, 255, 255);
    
}
h2 {
    color: rgb(225, 225, 225);
}
h3 {
    color: rgb(36, 76, 221);
    font-size:20px;
    
}
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing:border-box;
    border: 0 solid #e5e7eb;
}
.Name {
    margin-bottom: 100px;
}
.duration {
    margin-top: 50px;
    margin-bottom: 0px;
}